<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Makina</title>
    {% block styles%}{%endblock styles%}
</head>
<body>
    <header>
        <h1>makina.al</h1>
        <nav>
            <ul>
                <li><a href="">Kerkoni</a></li>
                <li><a href=""></a></li>
                <li><a href="">lajme</a></li>
            </ul>
        </nav>
        <div>
            <buttobutton></buttobutton>n type=''
        </div>
    </header>
    <main>{% block styles%}{%endblock styles%}</main>
    </header>
</body>
</html>